# Ignore compiled files
*.class
*.o
*.pyc
__pycache__/
# Ignore distribution files
/gui.dist
/gui.build
/gui.onefile-build
/*.exe
/*.pgm
/*.ipynb_checkpoints
/*.ipynb
/__pycache__/**
/trash
/venv
/lib
/lib64
/bin
/slitloop/**
effic.**
mirr.**
optax.**
rmir.**
screen.**
star.**
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
./b07craytracing/*.csv
# C extensions
*.so
vscode/
# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/
